  <span hidden>{{isAutoApprove = hc.isAutoApprove(); isAdmin = hc.isAdmin()}}</span>
  <md-content ng-repeat="meme in hc.memes() track by $index" layout-xs="column" layout="row" layout-align="center center" class="home-feed">
    <md-card md-theme="card">
      <md-card-header>
        <md-card-header-text layout-align="space between center" layout="row">
          <strong>@{{meme.user_id}}</strong>
          <span class="md-subhead">{{ meme.created_at }}</span>
        </md-card-header-text>
      </md-card-header>
      <md-content flex>
        <img ng-src="{{meme.url}}">
      </md-content>
      <div flex layout="row" layout-align="end center">
        <div flex class="meme-eval-button" layout="column">
          <md-button flex layout="column" layout-align="center center" ng-click="hc.vote(1,meme)">
            <md-icon class="material-icons" ng-class="meme.user_vote == 1 ? 'voted' : ''">thumb_up</md-icon>
            <div>
              <span layout="column" layout-align="center center">{{ meme.upvote }}</span>
            </div>
          </md-button>
         </div>
         <div flex class="meme-eval-button" layout="column">
          <md-button flex layout="column" layout-align="center center" ng-click="hc.vote(-1,meme)">
            <md-icon class="material-icons" ng-class="meme.user_vote == -1 ? 'voted' : ''">thumb_down</md-icon>
            <div>
              <span layout="column" layout-align="center center">{{ meme.downvote }}</span>
            </div>
          </md-button>
         </div>
      </div>
      <md-card-actions layout="row" layout-align="center" ng-if="isAutoApprove && isAdmin">
          <md-button title="Block" ng-controller="ManageMemeController as mc" ng-click="mc.disapproveMeme(meme.meme_id)">
            <md-icon class="material-icons">block</md-icon>
          </md-button>
        </md-card-actions>
    </md-card>
  </md-content>